/* global styles 
===================*/
.wrapper {
    min-height: calc(100vh - 150px);
}

[v-cloak] {
    display: none;
}

header,
footer {
    background-color: #2e4056;
    color: aliceblue;
}

.jumbotron {
    margin: 20px;
    padding: 20px;
}


/* navigation menu styles
  ===================*/
#logo {
    height: 30px;
    margin: 30px;
}

#logo:hover {
    opacity: .5;
}

.search-btn {
    display: inline-block;
    font-weight: bold;
    color: aliceblue;
}
